{% extends "todoapp/base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h2 class="mb-4 text-center">Enter a new password</h2>
                {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary w-100">Change password</button>
                    </form>
                {% else %}
                    <p class="mb-4 text-center">The password reset link is invalid or has expired.</p>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}