<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Todo{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'todoapp/css/styles.css' %}">

</head>

<body>

{% include "includes/nav_bar.html" %}

<main class="container py-5">
    <div class="card shadow-lg p-4">
        {% block content %}
        {% endblock %}
    </div>
</main>

<footer class="text-center py-4 text-secondary">
    Todo List
</footer>

</body>
</html>
