{% extends "todoapp/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}
{% block page_title %}Profile{% endblock %}
{% block content %}
        <div class="col-md card mx-4 shadow-sm">
            <h2 class="mb-4 text-center card-header bg-primary shadow-sm">User details</h2>
            <div class="px-4 mb-4">
                <p><strong>Username: </strong>{{ user.username }}</p>
                <hr>
                <p><strong>First Name: </strong>{{ user.first_name }}</p>
                <hr>
                <p><strong>Last Name: </strong>{{ user.last_name }}</p>
                <hr>
                <p><strong>Email: </strong>{{ user.email }}</p>
                <hr>
                <p><strong>Team: </strong>{{ user.profile.team }}</p>
                <hr>
            </div>
            <div class="card mb-4">
                <h2 class="mb-4 text-center card-header bg-primary text-white">Change details</h2>
                <div class="px-4 mb-4">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-primary w-100">Update</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}