<nav class="navbar navbar-expand-lg shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'home' %}">
            ✓ Todo
        </a>

        <div class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a class="nav-link" href="{% url 'admin' %}">Admin</a>
                {% endif %}
                {% if user.profile.is_manager %}
                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                {% endif %}
                <a class="nav-link" href="{% url 'team_tasks'%}">
                    Team tasks
                </a>
                <a class="nav-link" href="{% url 'my_tasks'%}">
                    <i class="bi bi-bookmark"></i>
                    My tasks
                </a>
                <a class="nav-link" href="{% url 'profile' %}">
                    <i class="bi bi-person"></i>
                    {{ user.get_username }}
                </a>
                <div class="nav-item">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="nav-link" type="submit">
                            <i class="bi bi-door-open"></i>
                            Logout
                        </button>
                    </form>
                </div>
            {% else %}
                <a class="nav-link" href="{% url 'login'%}">
                    <i class="bi bi-box-arrow-in-right"></i>
                    Login
                </a>
                <a class="nav-link" href="{% url 'signup'%}">
                    <i class="bi bi-key"></i>
                    Sign up
                </a>
            {% endif %}
        </div>
    </div>
</nav>